<ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">

    <li class="heading">
        <h3 class="uppercase">Ayarlar</h3>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">Tag İşlemleri</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="/Tag/Tags" class="nav-link ">
                    <span class="title">Tag  Listele</span>
                </a>
            </li>
        </ul>

    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">Kullanıcı İşlemleri</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="/User/Users" class="nav-link ">
                    <span class="title">Kullanıcı Listesi</span>
                </a>
            </li>
        </ul>

    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">Kategori İşlemleri</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="/Category/Categories" class="nav-link ">
                    <span class="title">Kategori  Listele</span>
                </a>
            </li>
        </ul>

    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-puzzle"></i>
            <span class="title">Yorumlar</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="/Comment/Comments" class="nav-link ">
                    <span class="title">Yorum Listele</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">Role İşlemleri</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="/Role/Index" class="nav-link ">
                    <span class="title">Rol Listele</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="/UserRole/Index" class="nav-link ">
                    <span class="title">Kullanıcı Rol Listele</span>
                </a>
            </li>
        </ul>
    </li>


</ul>
