<div class="navbar default">
    <div class="navbar-header">
        <div class="container">
            <div class="basic-wrapper">
                <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
                <div class="navbar-brand"><a href="index.html"><img src="/Content/styleimages/logo.png" alt="" data-src="/Content/styleimages/logo.png" data-ret="style/images/logo@2x.png" class="retina" /></a></div>
            </div>
            <nav class="collapse navbar-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index">ANASAYFA</a></li>
                    <li><a href="/Home/ContactWe">ILETISIM</a></li>
                    <li class="dropdown social-dropdown pull-right">
                        <div class="share btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-heart-1"></i></div>
                    
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle js-activated">YONETIM</a>
                        <ul class="dropdown-menu">
                            <li><a href="/User/Login">Giriş Yap</a></li>
                           
                        </ul>
                    </li>

                  

                    <!--/social-dropdown -->
                </ul>
                <!--/.navbar-nav -->
            </nav>
            <!--/.nav-collapse -->
        </div>
        <!--/.container -->
    </div>
    <!--/.navbar-header -->
</div>