<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Kullanıcı düzenleme</h4>
        </div>
        <form action="/User/UpdateUser/" method="post" class="form-horizontal" role="form">
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">

                        <div class="col-md-12">

                            <div class="form-body">

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kullanıcı Adı</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control spinner" id="updateUserName" name="username" placeholder="">
                                        <input type="hidden" name="UserId" id="updateUserId" value="" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Adınız</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control spinner" id="updateName" name="Name" placeholder="">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Soyadınız</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control spinner" id="updateSurname" name="Surname" placeholder="">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Şifre</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control spinner" id="updatePassword" name="password" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">E-posta</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control spinner" id="updateEmail" name="EmailAdress" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kadın</label>
                                    <div class="col-md-3">
                                        <input type="radio" class="form-control spinner"
                                               name="Gender" id="genderWomen" value=true>
                                    </div>

                                    <label class="col-md-1 control-label">Erkek</label>
                                    <div class="col-md-3">
                                        <input type="radio" class="form-control spinner"
                                               name="Gender" id="genderMan" value=false>
                                       
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>
             
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Vazgeç</button>
                <button type="submit" class="btn green"   id="checkFormUpdate" >Güncelle</button>
            </div>
        </form>
    </div>
</div>
<script src="~/Content/Admin/assets/global/plugins/jquery.min.js"></script>




